<div id="content">

    <div id="background">
    </div>
    <div id="fog">
    </div>
    <div id="wrapper">
        <div id="explanation">
            From your computer:
            <input type="file" name="file" value="">
            </br>
            <button id="submitbutton" class="button" type="button" name="button">Upload!</button>
            </br>
            From another webpage:
            <form class="" action="/fromurl" method="post">
                <input type="text" name="imgurl" value="">
                </br>
                <input id="urlbutton" class="button" type="submit" name="name" value="Upload!">
            </form>
            <img id="image" src="{{url}}" alt="" />
        </div>
    </div>
</div>
